<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="paginaIndex" class="container">
		<div th:unless="${#lists.isEmpty(listOfRaces)}" class="row" data-masonry='{"percentPosition": true }'>
			<div th:each="race : ${listOfRaces}" class="col-sm-6 col-lg-4 mt-4">
				<div class="card border-primary text-center">
					<div class="card-body">
						<h5 th:text="${race.name}" class="card-title fw-bold"></h5>
						<h6 th:text="${'(' + race.parentRace + ')'}" class="card-subtitle mb-2"></h6>
    					<table class="table table-sm table-borderless caption-top text-center">
							<caption th:text="#{table.caption.races.attributes}" class="text-center fw-bold text-light bg-primary"></caption>
							<thead>
								<tr>
									<th th:text="#{table.column.attributes.physical}" class="table-secondary" style="width: 33%"></th>
									<th th:text="#{table.column.attributes.mental}" class="table-secondary" style="width: 33%"></th>
									<th th:text="#{table.column.attributes.spiritual}" class="table-secondary" style="width: 34%"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${race.attributesPhysical}"></td>
									<td th:text="${race.attributesMental}"></td>
									<td th:text="${race.attributesSpiritual}"></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm table-borderless text-center">
							<thead>
								<tr>
									<th th:text="#{table.column.lifeMultiplier} + ': x' + ${race.lifeMultiplier}" class="table-secondary"></th>
								</tr>
							</thead>
						</table>
						<table class="table table-sm table-borderless caption-top text-center">
							<caption th:text="#{table.caption.races.balance}" class="text-center fw-bold text-light bg-primary"></caption>
							<thead>
								<tr>
									<th th:text="#{table.column.balance.law}" class="table-primary" style="width: 33%"></th>
									<th th:text="#{table.column.balance.magic}" class="table-warning" style="width: 33%"></th>
									<th th:text="#{table.column.balance.chaos}" class="table-danger" style="width: 34%"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${race.balanceLaw}" class="table-primary"></td>
									<td th:text="${race.balanceMagic}" class="table-warning"></td>
									<td th:text="${race.balanceChaos}" class="table-danger"></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm table-borderless text-center">
							<thead>
								<tr>
									<th th:text="'&#8226; ' + #{table.column.racialGifts} + ' &#8226;'" class="table-secondary"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="racialGift : ${race.listOfRacialGifts}">
									<td th:text="'&#8226; ' + ${racialGift.name} + ' &#8226;'"></td>
								</tr>
							</tbody>
						</table>
<!-- 						<div class="d-grid gap-2"> -->
<!-- 							<a href="#" class="btn btn-outline-primary">Go somewhere</a> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(listOfRaces)}" class="row">
			<div class="col-md-12">
				<div class="alert alert-danger text-center" role="alert">
  					<span th:text="#{alert.list.empty}"></span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>