<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="effectModal" class="container">
		<div class="modal fade" id="effectModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title w-100 text-center fw-bold" id="modalLabel"></h5>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>